      body {
            font-family: Arial, sans-serif;
            margin: 20px;
            line-height: 1.6;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: square;
        }

        a {
            text-decoration: none;
            color: #cc00c2;
        }

        a:hover {
            text-decoration: underline;
        }