

body{
    background-color: #f5faf6;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #cf2f0c;
    text-align: left;
}


#heading2{
    color: #0c4acf;
}

#parent{
    color: #0c4acf;
}

.headings {
    margin-left: 150px;
}